.loginWarp {
  width: 30rem;
  height: 40rem;
  background-color: #fafafa;
}

.titleWarp {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.titleText {
  font-size: x-large;
  text-align: center;
  font-weight: bolder;
}

.idInputWarp {
  display: flex;
  justify-content: center;
}

.idWarp {
  justify-content: center;
}

.idInput {
  border-width: 0;
}
